<!-- views/kakaomsgs/new.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container kakaomsg kakaomsg-new">
   <div class="kakaomsg-menu">
    <a class="btn btn-default" href="/kakaomsgs">Back</a>
   </div>
   <h2>New</h2>
   <form class="kakaomsg-form" action="/kakaomsgs" method="post">
    <div class="form-group">
     <label for="user_key">user_key</label>
     <input class="form-control" type="text" id="user_key" name="user_key" value="">
    </div>
    <div class="form-group">
     <label for="type">type</label>
     <input class="form-control" type="text" id="type" name="type" value="">
    </div>
    <div class="form-group">
     <label for="content">content</label>
     <input class="form-control" type="text" id="content" name="content" value="">
    </div>
    <div>
     <button type="submit" class="btn btn-default">Submit</button>
    </div>
   </form>
  </div>
 </body>
</html>
